.form {
    width: 950px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}

.form_line {
    display: flex;
    flex-direction: row;
    border: none;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
}

.input {
    width: 205px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 56px;
}

.item {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
