.main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-width: 522px;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: row;
    max-width: 520px;
}

.container {
    min-width: 465px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}